@media screen and (max-width: 600px) {
  .inputs {
    background-color: #feaf3d;
    border-radius: 8px;
    padding: 30px 17px;
    justify-content: space-around;
    margin: 40px -10px;
  }

  input {
    width: 255px;
    border: none;
    background: #fff;
    border-radius: 8px;
    padding: 12px 15px;
    margin-bottom: 20px;
  }

  .div-busque-tarefas {
    display: flex;
    justify-content: center;
  }

  .buscar {
    margin-left: -10px;
    height: 39px;
    right: 15px;
    background-color: #6e4b87;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 15px;
    font-weight: 700;
    font-size: 13px;
  }

  .div-organizar-por {
    display: flex;
    justify-content: center;
  }

  .organizar-por {
    color: #fff;
    font-size: 14px;
    margin-right: 20px;
  }

  select {
    display: inline;
    border: none;
    background: #fff;
    border-radius: 8px;
    width: 190px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    color: #414141;
    padding-left: 10px;
  }
}
